@import "tailwindcss";

@theme {
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 24px;
  --text-h5: 18px;

  --color-primary: #4949C9;
  --color-secondary: #CBA3FF;
  --color-tertiary: #4217BA;
  --color-accent: #E5DB00;
}

body {
  background-color: black;
  /* background: url('https://64.media.tumblr.com/d823abd644fa478fb244bd5a96e4ed12/tumblr_obfjz6Bd9f1runoqyo1_540.gif'); */
  background-size: cover;
  color: white;
  font-family: var(--font-nunito-500), Arial, Helvetica, sans-serif;
}