@import "tailwindcss";

:root {
  --color-linear1: linear-gradient(to right, #A26CEF, #CBA3FF);
}

@theme {
  --text-h1: 48px;
  --text-h2: 40px;
  --text-h3: 32px;
  --text-h4: 24px;

  --color-primary: #4949C9;
  --color-secondary: #CBA3FF;
  --color-tertiary: #4217BA;
  --color-accent: #E5DB00;
}

body {
  background: url('/assets/qcsp-bg.svg');
  color: white;
  font-family: var(--font-nunito-500), Arial, Helvetica, sans-serif;
}